@import "../../../../styles/variables";
.link {
  height: 100%;
  padding: 0.5rem;
  border-bottom: 0.2rem solid $color-light;
  color: $color-light;
  text-decoration: none;
  text-transform: uppercase;
}
