$color-primary: #0CFFE1;
$color-secondary: #FE217D;
$color-dark: #2d2542;
$color-light: #FFF;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inconsolata Black", serif;
}

.title {
  border-bottom: 0.3rem solid $color-primary;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;

  background-color: $color-dark;
  color: $color-light;

  display: flex;
  justify-content: center;

  .card {
    margin: 2rem 1rem;
    
    p {
      margin-top: 0.5rem;
    }
  }
}

.footer {
  background-color: $color-secondary;
  position: fixed;
  bottom: 0;

  height: 2rem;
  width: 100%;

  box-sizing: border-box;
  padding: 0.5rem 1rem;


  display: flex;
  justify-content: center;
}

a {
  color: $color-primary;
  text-decoration: none;
}
