@import "../../../../styles/variables";

.alert {
  position: fixed;
  width: 100%;
  top: 3rem;
  display: flex;
  justify-content: center;
  .card-container {
    min-width: 24rem;
  }

  .message {
    font-size: 1.2rem;
  }
}
