@import "../../../styles/variables";

.button {
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1.5rem;

  // text
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;

  // border
  border: 0.2rem solid $color-primary-darker;
  border-radius: 0.2rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.4);

  &.primary {
    background-color: $color-primary;
    color: $color-light;
    &:hover{
      background-color: $color-primary-darker;
    }
  }

  &.secondary {
    background-color: $color-light;
    color: $color-primary;
  }
}

.loading {
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.3rem solid transparent;
  border-top-color: $color-light;
  border-left-color: $color-light;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
