@import "../../../styles/variables";

.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem 2rem;
  background-color: $color-secondary;
  color: $color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2rem solid $color-light;

  .content {
    margin-top: 0.5rem;
    padding: 1rem 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.menu-button {
  height: 2rem;
  width: 2rem;
  padding: 1rem;
  background-color: transparent;
  color: $color-light;
  border: 0.2rem solid $color-light;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
